body {
  background-color: lightgrey;
}

nav {
  margin-bottom: 41px;
  border-radius: 3%;
}

#search-bar {
  padding: 15px;
  border-radius: 3%;
}

#search-results {
  padding: 10px;
}

.result-show {
  background-color: rgb(189, 191, 192);
  border: solid 1px black;
  text-align: center;
  border-radius: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
